.chat-main__messege
  .chat-main__messege-name
    saito
  .chat-main__messege-time
    2018/12/14 12:00:00
  .chat-main__messege-text
    Hello

.chat-main__messege
  .chat-main__messege-name
    saito
  .chat-main__messege-time
    2018/12/14 12:00:00
  .chat-main__messege-text
    Hello
