%a{href: ''}
  .side__group-list
    .side__group-name
      sampleグループ
    .side__group-message
      まだメッセージはありません。

%a{href: ''}
  .side__group-list
    .side__group-name
      sampleグループ
    .side__group-message
      まだメッセージはありません。
