    = render partial: "chatside-group"

.chat-main
  .chat-main__header
    .chat-main__header-group.clearfix
      .chat-main__header-group-name
        sampleグループ

      %a.chat-main__header-group-btn
        Edit

    .chat-main__header-member
      Members Saito


  .chat-main__body
    = render partial: "chatmain-messege"



  .chat-main__footer
    .chat-main__footer-form
      %input.chat-main__footer-text{type: "text", placeholder: 'type a message'}
      %label.chat-main__footer-label{for: "upload-icon"}
        %input.chat-main__footer-faile{type: 'file', id: 'upload-icon'}
        %i.fa.fa-image
      %input.chat-main__footer-btn{type: 'submit', value: 'Send'}




